body {
	font-family: serif;
	background-color: #c5cbd3;
	padding: 0;
	margin: 0;
}

header {
	font-family: 'Marko One', serif;
	background-color: #7392b7;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: black;
	margin-left: 20px;
	font-size: .9rem;
}

nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #1d3461;
	color: white;
}

.navigation {

	list-style-type: none;
	margin: 0;

}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
}

.navigation a:hover {
	background-color: #8d6a9f;
}

.responsive li {
	display: block;
}

a:active {
	text-decoration: underline;
	background-color: #8d6a9f;
}

main {
	text-align: center;
	font-family: 'Gabriela', serif;
}

#banner {
	display: none;
	margin: 10px auto;
	padding: 15px;
	background-color: #554F80;
	font-weight: bold;
	font-size: 1em;
	color: white;
}

.box {
	display: block;
	margin: 10px auto;
	padding: 15px;
	background-color: #9CAFC5;
}

.herodiv {
	margin: 1px auto;
	position: relative;
}

.town {
	max-width: 100%;
}

h2,
p {
	margin: 0;
}

.stats {
	position: absolute;
	top: 25px;
	left: 50px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
	opacity: 1;
}

.flex,
.boxweather {
	display: none;
}

.level1 {
	text-align: justify;
	font-size: .85em;
	max-width: 100vh;
	margin: 1rem;
	line-height: 1.5;
}

.level1 .img3 {
	float: right;
	padding: .25rem;
	margin: .5rem .25rem .5rem 1.25rem;
}

section-2 {
	text-align: justify;
	font-size: .85em;
	max-width: 100vh;
	margin: 1rem;
	line-height: 1.5;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.gmap {
	margin: 10px 0 30px;
	border: 1px solid #000;

}

.contacts {
	margin-left: 20px;
}

.socialmedia {
	margin-right: 25px;
	margin-top: 0px;
}

.icon {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 4px 4px 4px;
}

footer {
	font-family: 'Marko One', serif;
	background-color: #7392b7;
	text-align: center;
}