/*@media only screen and (min-width: 50em) {
  body {
    background-color: #5aa786;

}

header,
footer {
    background-color: #8d745a;
    color: black;
    font-family: 'Merienda One', cursive;

}

nav {
    background-color: #298880;
    color: black;
    font-family: 'Patrick Hand', cursive;
}

main {
    background-color: #f4a261;
    color: black;
    font-family: 'Libre Baskerville', serif;
}
}*/